::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}

::-webkit-scrollbar-track {
  background: rgba(141, 116, 116, 0);
}
